<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--Main content-->
<div class="container text-center my-5">
<h1>Welcome to the Event Manager</h1>
<p>Effortlessly track and manage all your events in one place.</p>
    <a href="/events" class="btn btn-primary">View Events</a>
</div>
<%- include Partials/footer.ejs%>